*{margin: 0;box-sizing: border-box;padding: 0;list-style: none;text-decoration: none;}


body{
    width: 100%;
    height: 100vh;
}

nav{
    height: 55px;
    background-color: rgb(196, 196, 196);
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.nav-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    gap: 30px;
}
.nav-links ul > li{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-links ul > li >a{
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 55px);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 400px;
    height: 150px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(0, 97, 114);
    color: white;
}
.container > button{
    padding: 10px;
    color: white;
    background-color: black;
    margin-top: 50px;
    border-radius: 5px;
}
